extends base-layout

block header-menu-left
  li.header-menu-item
    a.header-menu-item-anchor.header-icon-anchor(data-route href='/login')
      img.header-icon(src='/images/icons/icon.svg' alt='Home Icon')

block header-menu-right
  li.header-menu-item
    a(data-route href='/login', class='header-button button-auth')
      span Sign In
  li.header-menu-item
    a(data-route href='/register', class='header-button button-auth')
      span Sign Up

block content
  script(src="https://unpkg.com/htmx.org@2.0.2")
