extends base-layout

block header-menu-right
  li.header-menu-item
    a(data-route href='/login', class='header-button button-auth')
      span Sign In
  li.header-menu-item
    a(data-route href='/register', class='header-button button-auth')
      span Sign Up
