doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="robots" content="noindex")
    title Diploma Project
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="stylesheet" href="/css/header.css")
    link(rel="stylesheet" href="/css/toasts.css")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet")
    link(rel='apple-touch-icon' sizes='180x180' href='/images/icons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/icons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/images/icons/favicon-16x16.png')
    link(rel='manifest' href='/images/icons/site.webmanifest')
    link(rel='icon' href='/images/icons/favicon.ico' type='image/x-icon')
    meta(name='theme-color' content='#ffffff')
    block head
    
  body
    header
      nav.header-nav
          ul.header-menu
            .header-menu-left
              li.header-menu-item
                a.header-menu-item-anchor.header-icon-anchor(data-route href='/')
                  //- TODO: add another icon, adjust it so header height is not changed
                  img.header-icon(src='/images/icons/icon.svg' alt='Home Icon')
              block header-menu-left

            .header-menu-right
              block header-menu-right


      block header

    main#app-root
      block content
    
    footer
      p &copy; 2024 Diploma Project

    // Toasts
    #toast-container
    #toast-template(style="display: none")
        div
        span#toast-message

    script(type="module", src="/js/main.js")
    script(src="https://unpkg.com/htmx.org@2.0.2")
