doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="robots" content="noindex")
    title Diploma Project
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="stylesheet" href="/css/header.css")
    link(rel="stylesheet" href="/css/toasts.css")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet")
    link(rel='apple-touch-icon' sizes='180x180' href='/images/icons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/icons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/images/icons/favicon-16x16.png')
    link(rel='manifest' href='/images/icons/site.webmanifest')
    link(rel='icon' href='/images/icons/favicon.ico' type='image/x-icon')
    meta(name='theme-color' content='#ffffff')
    script.
      (function (c, s, q, u, a, r, e) {
          c.hj=c.hj||function(){(c.hj.q=c.hj.q||[]).push(arguments)};
          c._hjSettings = { hjid: a };
          r = s.getElementsByTagName('head')[0];
          e = s.createElement('script');
          e.async = true;
          e.src = q + c._hjSettings.hjid + u;
          r.appendChild(e);
      })(window, document, 'https://static.hj.contentsquare.net/c/csq-', '.js', 5210234);
    block head
    
  body
    header
      nav.header-nav
          ul.header-menu
            .header-menu-left
              block header-menu-left

            .header-menu-right
              block header-menu-right


      block header

    main#app-root
      block content
    
    footer
      p &copy; 2024 Diploma Project

    // Toasts
    #toast-container
    #toast-template(style="display: none")
        div
        span#toast-message

    script(type="module", src="/js/main.js")
    script(src="https://unpkg.com/htmx.org@2.0.2")
