extends base-layout

block header-menu-left
  li.header-menu-item
    a.header-menu-item-anchor(data-route href='/')
      //- span.header-menu-item-icon
      //-   svg(width='24', height='24', xmlns='http://www.w3.org/2000/svg')
      span Home
  li.header-menu-item
    a.header-menu-item-anchor(data-route href='/products')
      span Products
  li.header-menu-item
    a.header-menu-item-anchor(data-route href='/orders')
      span Orders

block header-menu-right
  li.header-menu-item
    a.cart-button(data-route href='/cart')
      //- span Cart
      svg.cart-icon(viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
        polyline(points="2 3 5 3 8.5 16 18 16 21 7 6.1 7")
        line(x1="9.99" y1="20" x2="10.01" y2="20")
        line(x1="15.99" y1="20" x2="16.01" y2="20")
  li.header-menu-item
    form(id='logout-form', hx-post='/api/auth/logout', hx-target='this', hx-swap='none')
      button(type='submit', class='header-button button-signout') Sign Out