extends base-layout

block header-menu-left
  li.header-menu-item
    a.header-menu-item-anchor(data-route href='/')
      //- span.header-menu-item-icon
      //-   svg(width='24', height='24', xmlns='http://www.w3.org/2000/svg')
      span Home
  li.header-menu-item
    a.header-menu-item-anchor(data-route href='/territories')
      span Territories

block header-menu-right
  li.header-menu-item
    form(id='logout-form', hx-post='/logout', hx-target='this', hx-swap='none')
      button(type='submit', class='header-button button-signout') Sign Out