extends base-layout

block header
  nav
    ul
      li
        a(href='/') Home
      li
        form(id='logout-form', hx-post='/logout', hx-target='this', hx-swap='none')
          button(type='submit') Logout