extends auth-layout

block content
  link(rel="stylesheet" href="/css/register.css")
  link(rel="stylesheet" href="/css/auth.css")

  .register-container 
    h2.register-h2 Register
    form(id='register-form', class='register-form', hx-post='/api/auth/register', hx-target='this', hx-swap='none')
      .register-form-group
        input(class='register-input', type='text', name='name', required, placeholder='Name')
      .register-form-group
        input(class='register-input', type='email', name='email', required, placeholder='Email')
      .register-form-group
        .password-group 
          input(class='register-input password-input', id='password', type='password', name='password', pattern='^(?=.*[A-Z])(?=.*\\d).{8,}$', required, minlength='8', title='Password must be at least 8 characters long, contain at least 1 uppercase letter, and 1 number', autocomplete='new-password', placeholder='Password')
          img(class='show-password-icon' src='/images/icons/show-password-icon.svg' alt='Show Password')
      .register-form-group
        .password-group 
          input(class='register-input password-input', id='repeat-password', type='password', name='repeatPassword', required, placeholder='Repeat password')
          img(class='show-password-icon' src='/images/icons/show-password-icon.svg' alt='Show Password')
      button(type='submit' class='register-button') Register
    if error
      p.error= error

  script(type="module", src="/js/auth.js")
